soundfile
librosa==0.10.2.post1
muq==0.1.0
mutagen==1.47.0
torchdiffeq==0.2.5
x-transformers==2.1.2
transformers==4.49.0
wandb
accelerate==1.4.0
ema-pytorch==0.7.7
jieba==0.42.1
cn2an==0.5.23
pypinyin==0.53.0
onnxruntime
Unidecode==1.3.8
phonemizer==3.3.0
py3langid
torchcodec==0.9.0
